include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
recursive-include dimensionality_reduction *.py
recursive-exclude tests *
recursive-exclude examples *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
